<main class="flex h-dvh bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100">
  
  <app-sidenav />
  
  <div class="flex-1 overflow-auto flex flex-col gap-1 
              bg-white shadow-md
              p-4 pt-4 sm:p-6 sm:pt-5
              m-0 rounded-none border border-gray-100
              sm:m-4 sm:ml-0 sm:rounded-2xl
              dark:bg-gray-800 dark:shadow-none dark:border-gray-700"
              id="layout">
              
    <app-header />
    <router-outlet />
    
  </div>
</main>