:host {
    display: contents;
}

@keyframes slideToEnd {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }

.loading-bar {
    animation: slideToEnd 1.5s cubic-bezier(0.66, 0, 0.34, 1) infinite;
}